@mixin container {
    min-height: 100dvh;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 4.8rem 3.2rem;
}

@mixin two-column-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

@mixin background-gradient-dual {
    background-image: linear-gradient(90deg, var(--color-2), var(--color-3));
}

@mixin background-gradient-quad {
    background-image: linear-gradient(
        90deg,
        var(--color-1),
        var(--color-2),
        var(--color-3),
        var(--color-4)
    );
}

@mixin text-gradient-dual {
    @include background-gradient-dual;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin text-gradient-quad {
    @include background-gradient-quad;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin gradient-border-bottom {
    border-image: linear-gradient(
            90deg,
            var(--color-1),
            var(--color-2),
            var(--color-3),
            var(--color-4)
        )
        30;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

@mixin btn-default {
    @include background-gradient-dual;
    display: block;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    color: var(--color-light);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin section_title {
    font-size: 3.2rem;
    position: relative;
    left: 24px;
    margin-bottom: 2rem;

    @media screen and (max-width: 768px) {
        font-size: 2.8rem;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 0.8em;
        height: 1.2em;
        position: absolute;
        top: 0px;
        left: -24px;
        background: url(../../assets/slash.svg) no-repeat;
    }
}
