:root {
    --color-dark: #141417;
    --color-dark-010: #29282b;
    --color-light: #ffffff;
    --color-light-010: #e1e1e1;
    --color-1: #6acee3;
    --color-2: #845eff;
    --color-3: #bc56ff;
    --color-4: #d44eff;

    --background-color: var(--color-light);
    --background-color-010: var(--color-light-010);
    --text-color: var(--color-dark);
}

.dark-mode {
    --background-color: var(--color-dark);
    --background-color-010: var(--color-dark-010);
    --text-color: var(--color-light);
}
