#projects-container h3{
    font-weight: bold;
    margin-bottom: 30px;
}

#show-more{
    height: 0px;
    overflow: hidden;
}

#show-more.show{
    height: auto;
}

.card-body{
    position: relative;
}

.card-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
}