#faq-container{
    padding: 30px;
    background-image: linear-gradient(135deg, var(--color), var(--color2));
}

#faq-container h2{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--light);
}

#faq-container details{
    font-size: 1.3em;
}

#faq-container details summary{
    font-weight: bold;
}

#faq-container details p{
    font-size: 1.1rem;
    color: var(--light);
}

#faq-container details p .text-highlight{
    color: var(--dark);
    font-weight: bold;
}