#faq-container{
    padding: 30px;
    margin-top: 60px;
    border-top: 1px solid var(--color);
}

#faq-container h2{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
}

#faq-container details{
    font-size: 1.3em;
    color: var(--color);
}

#faq-container details summary{
    font-weight: bold;
}

#faq-container details p{
    font-size: 1.1rem;
    color: #212529;
}

#faq-container details p .text-highlight{
    color: var(--color);
    font-weight: bold;
}