@import "../0-helpers/helpers-dir";

.footer {
    @include gradient-border;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.footer_container {
    @include container;
    min-height: initial;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
}

.logo_container {
    width: 100%;
    max-width: 100px;
}

.social_media_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    a {
        padding: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;

        @media screen and (max-width: 768px) {
            font-size: 2rem;
        }

        svg {
            fill: url(#fill-gradient) var(--color-3);
        }
    }
}
