@import "../0-helpers/helpers-dir";

.header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
    padding: 2.8rem 4rem;
    background: var(--background-color-010);
    z-index: 10;

    @media screen and (max-width: 768px) {
        padding: 1.6rem 2.8rem;
    }
}

.header_container {
    @include container;
    min-height: initial;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_container {
    width: 160px;

    @media screen and (max-width: 768px) {
        width: 120px;
    }
}

.navbar {
    @media screen and (max-width: 768px) {
        display: none;

        &[class*="show"] {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1.6rem;
            width: 100%;
            transform: translate(0, 100%);
            background: var(--background-color-010);
            @include gradient-border-bottom;

            ul {
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        li {
            padding: 0.4rem;
        }

        a {
            display: block;
            padding: 0.8rem;
            color: var(--text-color);
            text-align: end;
            cursor: pointer;

            &.contact_btn {
                @include btn-default;
                padding: 8px 12px;
                color: var(--color-light);
            }
        }
    }
}

.nav_btn {
    background: transparent;
    color: var(--text-color);
    font-size: 3.2rem;
    padding: 0.4rem;
    cursor: pointer;
    display: none;

    @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        pointer-events: none;
    }
}
