@import "../0-helpers/helpers-dir";

.card_container {
    background-color: var(--background-color-010);
    width: 100%;
    border-radius: 0.8rem;
    overflow: hidden;
}

.card_body {
    width: 100%;
}

.img_container {
    @include gradient-border;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    overflow: hidden;
    cursor: zoom-in;

    &:hover {
        img {
            transform: scale(1.1);
        }
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s;
    }
}

.card_infos {
    padding: 2rem 1.2rem;
    display: flex;
    flex-direction: column;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.2rem;

    span {
        &:hover {
            svg {
                transform: scale(1.5);
                fill: url(#fill-gradient) var(--color-3);
            }
        }
    }

    svg {
        font-size: 2.4rem;
        pointer-events: none;
        transition: all 0.3s;
    }
}

.title {
    font-size: 3.2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn_container {
    button {
        @include btn-default;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.modal_links {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 1.6rem;

    a {
        @include btn-default;
    }
}
