#footer-container{
    padding: 30px 0px;
}

#footer-container span{
    color: var(--light);
    font-weight: bold;
}

#footer-container img{
    display: block;
    width: 100px;
    margin: 0 auto;
}