@import "../0-helpers/helpers-dir";

.contact_container {
    @include container;
    min-height: initial;
}

.contact_title {
    @include section_title;
}

.contact_grid {
    @include two-column-grid;

    @media screen and (max-width: 768px) {
        grid-template-rows: auto;
    }
}

.contact_text,
.contact_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_text {
    .text_highlight {
        display: inline-block;
        font-weight: bold;
        font-size: 2.8rem;
        margin-bottom: 0.4rem;

        @media screen and (max-width: 768px) {
            font-size: 2.4rem;
        }
    }

    .text {
        margin-bottom: 2.4rem;
    }
}

.contact_options {
    ul {
        li {
            @include gradient-border-bottom;
            font-weight: bold;
            padding: 0.8rem 0;

            &:not(:last-child) {
                margin-bottom: 1.2rem;
            }

            @media screen and (max-width: 480px) {
                font-weight: normal;
                font-size: 1.4rem;
            }

            a {
                display: flex;
                align-items: center;
                color: var(--text-color);

                svg {
                    font-size: 1.6em;
                    margin-right: 1rem;
                    fill: url(#fill-gradient) var(--color-3);
                }
            }
        }
    }
}

.contact_img {
    @media screen and (max-width: 768px) {
        display: none;
    }

    img {
        display: block;
        width: 100%;
        max-width: 520px;
    }
}
