@import "../0-helpers/helpers-dir";

.contact_container {
    @include container;
    min-height: initial;
}

.contact_title {
    @include section_title;
}

.contact_body {
    @include two-column-grid;

    @media screen and (max-width: 768px) {
        grid-template-rows: auto;
    }
}

.contact_text,
.contact_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_img {
    @media screen and (max-width: 768px) {
        display: none;
    }

    img {
        display: block;
        width: 100%;
        max-width: 520px;
    }
}

.contact_text {
    .text_highlight {
        @include text-gradient-dual;
        display: inline-block;
        font-weight: bold;
        font-size: 2.8rem;
        margin-bottom: 1.2rem;
    }

    .text {
        margin-bottom: 2.4rem;
    }
}

.contact_options {
    ul {
        li {
            @include gradient-border-bottom;
            display: flex;
            align-items: center;
            font-weight: bold;
            color: var(--text-color);
            padding: 0.8rem 0;

            &:not(:last-child) {
                margin-bottom: 1.2rem;
            }

            @media screen and (max-width: 480px) {
                font-weight: normal;
                font-size: 1.4rem;
            }

            svg {
                display: block;
                font-size: 2.8rem;
                margin-right: 1.2rem;
                fill: url(#my-cool-gradient) var(--color-3);
            }

            a {
                color: inherit;
            }
        }
    }
}
