@import "../0-helpers/helpers-dir";

.contact_container {
    @include container;
    min-height: auto;
}

.contact_title {
    @include section_title;
}

.contact_grid {
    @include two-column-grid;
    gap: 1.6rem;

    @media screen and (max-width: 768px) {
        grid-template-rows: repeat(2, auto);
    }
}

.contact_text,
.contact_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.contact_text {
    @media screen and (max-width: 768px) {
        margin-bottom: 2rem;
    }

    .text_highlight {
        @include text-gradient-dual;
        display: inline-block;
        font-weight: bold;
        font-size: 5.6rem;
        margin-bottom: 1.2rem;

        @media screen and (max-width: 1200px) {
            font-size: 3.6rem;
        }

        @media screen and (max-width: 768px) {
            font-size: 3.2rem;
            margin-bottom: 0;
        }

        @media screen and (max-width: 480px) {
            font-size: 2rem;
        }
    }

    .text {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.contact_options {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        li {
            display: flex;
            align-items: center;
            font-weight: bold;
            color: var(--text-color);

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            @media screen and (max-width: 480px) {
                font-weight: normal;
                font-size: 1.4rem;
            }

            svg {
                display: block;
                font-size: 2.8rem;
                margin-right: 0.8rem;
                fill: url(#my-cool-gradient) var(--color-3);
            }

            a {
                color: inherit;
            }
        }
    }
}
