@import "../0-helpers/helpers-dir";

.skills_container {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 768px) {
        min-height: auto;
    }
}

.skills_title {
    @include section_title;
    align-self: flex-start;
}

.skills {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8rem;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
        flex-grow: 0;
        gap: 3.6rem;
    }

    .skill_item {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-weight: bold;
            font-size: 2rem;

            @media screen and (max-width: 768px) {
                font-size: 1.4rem;
            }
        }
    }

    svg {
        font-size: 12rem;

        @media screen and (max-width: 768px) {
            font-size: 8rem;
        }

        @media screen and (max-width: 480px) {
            font-size: 6rem;
        }
    }
}
