@import "../0-helpers/helpers-dir";

.skills_container {
    @include container;

    @media screen and (max-width: 768px) {
        min-height: initial;
    }
}

.skills_title {
    @include section_title;
}

.skills_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .skills {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 8rem;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
            gap: 3.6rem;
        }

        .skill_item {
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                fill: url(#fill-gradient) var(--color-3);
                font-size: 12rem;
                margin-bottom: 0.4rem;
                transition: all 0.2s;

                &:hover {
                    transform: scale(1.1);
                }

                @media screen and (max-width: 768px) {
                    font-size: 8rem;
                }

                @media screen and (max-width: 480px) {
                    font-size: 6rem;
                }
            }

            span {
                font-weight: bold;
                font-size: 2rem;

                @media screen and (max-width: 768px) {
                    font-size: 1.4rem;
                }
            }
        }
    }
}
