.contact {
    &__item {
        padding: 1.2rem 0;

        &__link {
            display: flex;
            align-items: center;
            color: var(--text-color);

            svg {
                font-size: 1.4em;
                margin-right: 1rem;
                fill: var(--color-2);
            }
        }
    }
}
