@import "../../styles/0-helpers/helpers-dir";

.skills-section {
    &__anchor {
        @include section-scroll-anchor;
    }

    .skills-container {
        @include container;
        min-height: initial;

        &__title {
            @include section_title;
        }

        .skills-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .skills {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: initial;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 3.2rem;

                @media screen and (max-width: 768px) {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                }

                &__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    svg {
                        fill: url(#fill-gradient) var(--color-2);
                        font-size: clamp(6.4rem, 12vw, 12rem);
                        margin-bottom: 0.4rem;
                        transition: all 0.2s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    &__name {
                        font-weight: bold;
                        font-size: clamp(1.2rem, 3.2vw, 1.6rem);
                    }
                }
            }
        }
    }
}
