:root {
  --color-dark: #141417;
  --color-dark-010: #202022;
  --color-light: #eaeaea;
  --color-light-010: #e2e2e2;
  --color-1: #6acee3;
  --color-2: #845eff;
  --color-3: #bc56ff;
  --color-4: #d44eff;
  --background-color: var(--color-light);
  --background-color-010: var(--color-light-010);
  --text-color: var(--color-dark);
  --header-height: 91.4px;
}

@media screen and (max-width: 768px) {
  :root {
    --header-height: 65px;
  }
}
.dark-mode {
  --background-color: var(--color-dark);
  --background-color-010: var(--color-dark-010);
  --text-color: var(--color-light);
}

@keyframes badge {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateY(45deg) translateY(20px);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateY(0deg) translateY(0px);
    filter: blur(0);
  }
}
@keyframes arrow_left {
  0% {
    opacity: 0;
    top: 35%;
    left: 20%;
  }
  100% {
    opacity: 1;
    top: 30%;
    left: 15%;
  }
}
@keyframes arrow_right {
  0% {
    opacity: 0;
    top: 70%;
    left: 70%;
  }
  100% {
    opacity: 1;
    top: 75%;
    left: 75%;
  }
}
.skills_section .section_anchor {
  visibility: hidden;
  display: block;
  width: 0;
  height: 0;
  position: relative;
  top: calc(0px - var(--header-height));
}

.skills_container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 4rem 3.2rem;
  min-height: initial;
}

.skills_title {
  position: relative;
  left: 24px;
  font-size: 2.8rem;
  margin-bottom: 3.6rem;
}
@media screen and (max-width: 768px) {
  .skills_title {
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
    left: 16px;
  }
}
.skills_title::before {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 1.2em;
  position: absolute;
  top: -2px;
  left: -24px;
  background: url(../../assets/slash.svg) no-repeat;
}
@media screen and (max-width: 768px) {
  .skills_title::before {
    left: -16px;
  }
}

.skills_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills_wrapper .skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .skills_wrapper .skills {
    gap: 2.8rem;
  }
}
.skills_wrapper .skills .skill_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills_wrapper .skills .skill_item svg {
  fill: url(#fill-gradient) var(--color-2);
  font-size: 12rem;
  margin-bottom: 0.4rem;
  transition: all 0.2s;
}
.skills_wrapper .skills .skill_item svg:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .skills_wrapper .skills .skill_item svg {
    font-size: 8rem;
  }
}
@media screen and (max-width: 480px) {
  .skills_wrapper .skills .skill_item svg {
    font-size: 6rem;
  }
}
.skills_wrapper .skills .skill_item .skill_name {
  font-weight: bold;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .skills_wrapper .skills .skill_item .skill_name {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=SkillsSection.module.css.map */