@import "../../styles/0-helpers/helpers-dir";

.hero {
    &__container {
        @include container;
        @include two-column-grid;
        min-height: calc(100dvh - var(--header-height));
    }
}

.greeting-container,
.badge-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting {
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.6rem;
    }

    &__message {
        font-size: 6.4rem;
        line-height: 5.2rem;
        white-space: nowrap;
        margin-bottom: 1.6rem;

        @media screen and (max-width: 1064px) {
            font-size: 4.8rem;
            line-height: 4rem;
        }

        @media screen and (max-width: 768px) {
            font-size: 5.6rem;
            line-height: 5.6rem;
            text-align: center;
        }

        @media screen and (max-width: 480px) {
            font-size: 3.2rem;
            line-height: 3.2rem;
        }

        &--emphasis {
            @include text-gradient-dual;
        }
    }

    &__role {
        font-size: 2.4rem;
        margin-bottom: 0.4rem;
        @include text-gradient-dual;

        @media screen and (max-width: 480px) {
            font-size: 1.6rem;
        }
    }

    &__graduation {
        margin-bottom: 1.6rem;

        @media screen and (max-width: 480px) {
            font-size: 1.4rem;
        }
    }

    .btn-container {
        display: flex;
        gap: 1.2rem;

        .btn {
            @include btn-default;
        }
    }
}

.badge-container {
    .badge {
        @include background-radial-gradient;
        position: relative;
        animation: badge 1.2s 0.5s both cubic-bezier(0, 0, 0, 1);

        &__img {
            display: block;
            width: 100%;
            max-width: 480px;
            aspect-ratio: 1/1;

            @media screen and (max-width: 768px) {
                max-width: 320px;
            }
        }

        &__arrow {
            position: absolute;
            display: block;
            width: 40px;
            aspect-ratio: 1/1;
            transform: translate(-50%, -50%);
            animation: 1s both 0.6s cubic-bezier(0, 0, 0, 1.25);

            @media screen and (max-width: 768px) {
                width: 28px;
            }

            &[class*="left"] {
                animation-name: arrow_left;
            }

            &[class*="right"] {
                animation-name: arrow_right;
            }
        }
    }
}
