:root {
  --color-dark: #141417;
  --color-dark-010: #29282b;
  --color-light: #ffffff;
  --color-light-010: #e1e1e1;
  --color-1: #6acee3;
  --color-2: #845eff;
  --color-3: #bc56ff;
  --color-4: #d44eff;
  --background-color: var(--color-light);
  --background-color-010: var(--color-light-010);
  --text-color: var(--color-dark);
}

.dark-mode {
  --background-color: var(--color-dark);
  --background-color-010: var(--color-dark-010);
  --text-color: var(--color-light);
}

@keyframes slide_top {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes badge {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateY(45deg) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateY(0deg) translateY(0px);
  }
}
@keyframes arrow_left {
  0% {
    opacity: 0;
    top: 35%;
    left: 20%;
  }
  100% {
    opacity: 1;
    top: 30%;
    left: 15%;
  }
}
@keyframes arrow_right {
  0% {
    opacity: 0;
    top: 70%;
    left: 70%;
  }
  100% {
    opacity: 1;
    top: 75%;
    left: 75%;
  }
}
.hero_container {
  min-height: 100dvh;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 10rem 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 768px) {
  .hero_container {
    grid-template-columns: 1fr;
  }
}

.greeting_container,
.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting_container .greeting_wrapper {
  animation: slide_top 1.2s both cubic-bezier(0, 0, 0, 1);
}
@media screen and (max-width: 768px) {
  .greeting_container .greeting_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.greeting_container .greeting {
  font-size: 6.4rem;
  white-space: nowrap;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 1064px) {
  .greeting_container .greeting {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 768px) {
  .greeting_container .greeting {
    font-size: 5.6rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .greeting_container .greeting {
    font-size: 3.2rem;
  }
}
.greeting_container .greeting .name {
  background-image: linear-gradient(90deg, var(--color-2) 10%, var(--color-3) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.greeting_container .role {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  background-image: linear-gradient(90deg, var(--color-2) 10%, var(--color-3) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media screen and (max-width: 480px) {
  .greeting_container .role {
    font-size: 1.6rem;
  }
}
.greeting_container .graduation {
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 480px) {
  .greeting_container .graduation {
    font-size: 1.4rem;
  }
}
.greeting_container .professional_networks {
  display: flex;
  gap: 1.2rem;
}
.greeting_container .professional_networks .btn {
  background-image: linear-gradient(90deg, var(--color-2) 10%, var(--color-3) 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  color: var(--color-light);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
.greeting_container .professional_networks .btn svg {
  font-size: 1.2em;
  margin-right: 0.8rem;
}
.greeting_container .professional_networks .btn:hover {
  transform: scale(1.1);
}

.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_container .badge_img_wrapper {
  position: relative;
  animation: badge 1.2s 0.2s both cubic-bezier(0, 0, 0, 1);
}
.img_container .badge_img_wrapper .badge_img {
  display: block;
  width: 100%;
  max-width: 480px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 768px) {
  .img_container .badge_img_wrapper .badge_img {
    max-width: 320px;
  }
}
.img_container .badge_img_wrapper .arrow_img {
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  width: 40px;
  aspect-ratio: 1/1;
  animation: 0.8s both 0.5s cubic-bezier(0, 0, 0, 1.25);
}
@media screen and (max-width: 768px) {
  .img_container .badge_img_wrapper .arrow_img {
    width: 28px;
  }
}
.img_container .badge_img_wrapper .arrow_img[class*=left] {
  animation-name: arrow_left;
}
.img_container .badge_img_wrapper .arrow_img[class*=right] {
  animation-name: arrow_right;
}/*# sourceMappingURL=HeroSection.module.css.map */