@import "../../styles/0-helpers/helpers-dir";

.header {
    @include background-noise("../../assets/img/noise_bg.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.8rem 4rem;
    background: var(--background-color);
    z-index: 10;

    &:has(.navbar[class*="show"]) {
        &::before {
            content: "";
            position: fixed;
            top: var(--header-height);
            left: 0;
            width: 100%;
            height: calc(100% - var(--header-height));
            background: var(--color-dark);
            opacity: 0.8;
            pointer-events: all;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 1.6rem 2.8rem;
    }

    &__container {
        @include container;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    width: 160px;

    @media screen and (max-width: 768px) {
        width: 120px;
    }
}

.navbar {
    @media screen and (max-width: 768px) {
        display: none;

        &[class*="show"] {
            display: block;
            position: absolute;
            bottom: 1px;
            right: 0;
            transform: translate(0, 100%);
            width: 100%;
            padding: 0 1.6rem 1.6rem 1.6rem;
            background: var(--background-color);

            .navlist {
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }

    .navlist {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .navlink {
            display: block;
            padding: 0.8rem 1.2rem;
            color: var(--text-color);
            cursor: pointer;

            &--emphasis {
                @include btn-default;
            }
        }
    }
}

.nav-mobile-btn {
    display: none;
    background: transparent;
    color: var(--text-color);
    font-size: 3.2rem;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        pointer-events: none;
    }
}
