@import "../../styles/0-helpers/helpers-dir";

.about {
    &__anchor {
        @include section-scroll-anchor;
    }

    &__container {
        @include container;
        min-height: calc(100dvh - var(--header-height));
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
            min-height: initial;
        }
    }

    &__content {
        @include two-column-grid;
        gap: 6.4rem;
    }

    &__img,
    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        @include background-radial-gradient;

        @media screen and (max-width: 768px) {
            display: none;
        }

        img {
            display: block;
            width: 100%;
            max-width: 480px;
            aspect-ratio: 1/1;
        }
    }

    &__text {
        .text {
            &__title {
                @include section_title;
            }

            &__content {
                line-height: 2.4rem;
                margin-bottom: 3.2rem;

                .emphasis {
                    @include text-gradient-dual;
                    font-weight: bold;
                }
            }
        }

        .resume-btn {
            @include btn-default;
        }
    }
}
