html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    background-color: var(--background-color-010);
    color: var(--text-color);
}

* {
    transition: color 0.3s, background-color 0.3s;
}
