html,
body {
    height: 100dvh;
    width: 100vw;
    max-width: 1320px;
    min-width: 320px;
    margin: 0 auto;
    color: var(--text-color);
    background-color: var(--background-color);
}

* {
    transition: color 0.3s, background-color 0.3s;
}
