html {
    scroll-behavior: smooth;
}

body {
    @include background-noise;
    min-height: 100vh;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: var(--header-height);
}

.scroll_animation {
    @media screen and (min-width: 768px) {
        transform: translateX(-60px);
        opacity: 0;
        filter: blur(5px);
        transition: all 0.8s cubic-bezier(0, 0, 0, 1);

        &[class*="show"] {
            transform: translateX(0);
            opacity: 1;
            filter: blur(0);
        }
    }
}
